@charset "UTF-8";
/* リキッドレイアウト対応 */
body {
  font-family: "Noto Sans JP", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4414414414vw;
  }
}
@media (min-width: 1110px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.l-archive-home {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .l-archive-home {
    margin-top: 3.75rem;
  }
}

.inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1160px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.l-inner {
  width: 100%;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  margin-right: auto;
  margin-left: auto;
}

.l-pagenavi {
  margin-top: 40px;
  margin-top: 2.5rem;
}

.l-single-body {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .l-single-body {
    margin-top: 4.375rem;
  }
}

.l-topCompany {
  margin-top: 18px;
  margin-top: 1.125rem;
}
@media screen and (min-width: 768px) {
  .l-topCompany {
    margin-top: 2.5rem;
  }
}

.l-topContact {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .l-topContact {
    margin-top: 6.875rem;
  }
}

.l-topNews {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .l-topNews {
    margin-top: 4.375rem;
  }
}

.l-topRecruit {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .l-topRecruit {
    margin-top: 4.375rem;
  }
}

.l-topService {
  margin-top: 80px;
  margin-top: 5rem;
}
@media screen and (min-width: 768px) {
  .l-topService {
    margin-top: 8.75rem;
  }
}

.l-topWorks {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .l-topWorks {
    margin-top: 8.75rem;
  }
}

.c-breadcrumb {
  background-color: #f7f7f7;
  padding: 5px 0;
  padding: 0.3125rem 0;
  font-size: 11px;
  font-size: 0.6875rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.05em;
}

.c-button {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background: transparent -webkit-gradient(linear, left top, right top, from(#7633A4), to(#250D65)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #7633A4 0%, #250D65 100%) 0% 0% no-repeat padding-box;
  line-height: 1;
  width: 100%;
  max-width: 200px;
  max-width: 12.5rem;
  padding: 20px 10px;
  padding: 1.25rem 0.625rem;
  border-radius: 3.125rem;
}

.c-hamburger {
  position: relative;
  width: 34px;
  width: 2.125rem;
  height: 16px;
  height: 1rem;
  cursor: pointer;
  z-index: 100;
}

.c-hamburger span {
  position: absolute;
  width: inherit;
  height: 2px;
  height: 0.125rem;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.c-hamburger span:nth-child(1) {
  top: 0;
}

.c-hamburger span:nth-child(2) {
  top: 8px;
  top: 0.5rem;
  opacity: 1;
}

.c-hamburger span:nth-child(3) {
  top: 16px;
  top: 1rem;
}

.c-hamburger.is-active span:nth-child(1) {
  top: 8.5px;
  top: 0.53125rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.c-hamburger.is-active span:nth-child(2) {
  top: 8px;
  top: 0.5rem;
  opacity: 0;
}

.c-hamburger.is-active span:nth-child(3) {
  top: 8.5px;
  top: 0.53125rem;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.c-mv-btn {
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 1.71875rem;
  width: 220px;
  width: 13.75rem;
  text-align: center;
  font-size: 15px;
  font-size: 0.9375rem;
  letter-spacing: 0.05em;
  line-height: 1;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  padding: 19px 10px;
  padding: 1.1875rem 0.625rem;
}

.c-page-link__flex {
  margin-top: 40.5px;
  margin-top: 2.53125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  padding: 0.9375rem 0;
  border-top: 1px solid #B8AED5;
  border-bottom: 1px solid #B8AED5;
}

.c-page-link__prev {
  margin-right: auto;
  position: relative;
}

.c-page-link__prev::after {
  content: "";
  position: absolute;
  width: 1px;
  width: 0.0625rem;
  height: 100%;
  background: #B8AED5;
  right: 0;
  top: 0;
}

.c-page-link__next {
  margin-left: auto;
}

.c-page-link__prev,
.c-page-link__next {
  width: 50%;
}

.c-page-link__prev a,
.c-page-link__next a {
  display: inline-block;
  padding: 0 20px;
  padding: 0 1.25rem;
  color: #391E88;
  font-size: 12px;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .c-page-link__prev a,
  .c-page-link__next a {
    font-size: 0.875rem;
    line-height: 1.57142857;
  }
}

.c-page-link__archive {
  text-align: center;
  margin-top: 20.5px;
  margin-top: 1.28125rem;
}

.c-page-link__archive a {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 14px;
  font-size: 0.875rem;
  color: #391E88;
}

.c-section-header {
  color: #391E88;
  text-align: center;
}

.c-section-header__engtitle {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.2333333333;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .c-section-header__engtitle {
    font-size: 2.125rem;
  }
}

.c-section-header__jatitle {
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .c-section-header__jatitle {
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 768px) {
  .c-section-header__jatitle.c-section-header__jatitle--left {
    text-align: left;
  }
}

.c-section-header.c-section-header--white {
  color: #fff;
}

.c-test {
  font-size: 100px;
  font-size: 6.25rem;
  color: red;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -20px;
  text-align: right;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #391E88;
}

/*wp-pagenavi base*/
.wp-pagenavi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  gap: 0.625rem;
}

.wp-pagenavi a, .wp-pagenavi span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  border-radius: 22.5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  text-align: center;
  text-decoration: none;
  width: 45px;
  width: 2.8125rem;
  height: 45px;
  height: 2.8125rem;
  color: #fff;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#7633A4), to(#250D65)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #7633A4 0%, #250D65 100%) 0% 0% no-repeat padding-box;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: rm(20);
  cursor: pointer;
}

.wp-pagenavi a:hover {
  opacity: 1;
  color: #391E88;
  background: #F1EBF8;
  border: 1px solid #391E88;
}

.wp-pagenavi span.current {
  color: #391E88;
  background: #F1EBF8;
}

@media screen and (min-width: 768px) {
  .p-archive-home__inner.l-inner {
    max-width: 60.3125rem;
  }
}

.p-archive-home__item + .p-archive-home__item {
  margin-top: 32px;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .p-archive-home__item + .p-archive-home__item {
    margin-top: 0.9375rem;
  }
}

.p-card {
  display: block;
}

.p-card__img {
  position: relative;
}

.p-card__img::before {
  content: "";
  display: block;
  padding-top: 62.686567%;
}

.p-card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-card__body {
  margin-top: 14px;
  margin-top: 0.875rem;
}

.p-card__title {
  color: #333;
  text-align: center;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
}

.p-card__text {
  color: #333;
  margin-top: 10px;
  margin-top: 0.625rem;
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  line-height: 1.78571429;
}

.p-company {
  padding-top: 42px;
  padding-top: 2.625rem;
  padding-bottom: 78px;
  padding-bottom: 4.875rem;
  background-image: url(../images/common/company-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .p-company {
    padding-top: 8.5rem;
    background-image: url(../images/common/company-bg-pc.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    max-width: 81.25rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
}

.p-company__contents {
  margin-top: 30px;
  margin-top: 1.875rem;
}
@media screen and (min-width: 768px) {
  .p-company__contents {
    margin-top: 2.5rem;
    text-align: center;
  }
}

.p-company__subtitle {
  color: #333;
  text-align: center;
  font-size: 32px;
  font-size: 2rem;
  letter-spacing: 0.05em;
  line-height: 1.5;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .p-company__subtitle {
    display: inline-block;
    position: relative;
    z-index: 2;
  }
}

@media screen and (min-width: 768px) {
  .p-company__subtitle::before {
    content: "";
    display: block;
    width: 100%;
    height: 0.75rem;
    background: #F5F534;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.p-company__bg-yellow {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(78%, transparent), color-stop(78%, #F5F534), color-stop(95%, #F5F534), color-stop(95%, transparent), to(transparent));
  background: linear-gradient(180deg, transparent 0%, transparent 78%, #F5F534 78%, #F5F534 95%, transparent 95%, transparent 100%);
}
@media screen and (min-width: 768px) {
  .p-company__bg-yellow {
    background: none;
  }
}

.p-company__content {
  margin-top: 43px;
  margin-top: 2.6875rem;
}

.p-company__text {
  font-size: 14px;
  font-size: 0.875rem;
  text-align: center;
  color: #333;
  letter-spacing: 0.05em;
  line-height: 1.78571429;
}

.p-company__btn {
  margin-top: 30px;
  margin-top: 1.875rem;
  text-align: center;
}

.p-contact {
  text-align: center;
  background-color: #F7F7F7;
  padding-top: 60px;
  padding-top: 3.75rem;
  padding-bottom: 60px;
  padding-bottom: 3.75rem;
}
@media screen and (min-width: 768px) {
  .p-contact {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.p-contact__text-block {
  margin-top: 30px;
  margin-top: 1.875rem;
}
@media screen and (min-width: 768px) {
  .p-contact__text-block {
    margin-top: 2.1875rem;
  }
}

.p-contact__text {
  color: #333;
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  line-height: 1.7857142857;
}

.p-contact__btn {
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-footer-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  gap: 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-footer-nav__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-footer-nav__item {
  list-style: none;
}

.p-footer-nav__item a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.25;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 768px) {
  .p-footer-nav__item a {
    font-size: 0.875rem;
  }
}

.p-footer {
  background: #120E19;
  padding-top: 60px;
  padding-top: 3.75rem;
  padding-bottom: 60px;
  padding-bottom: 3.75rem;
}

.p-footer__inner {
  padding: 0 30px;
  padding: 0 1.875rem;
  margin: auto;
}

.p-footer__copyright {
  margin-top: 30px;
  margin-top: 1.875rem;
  text-align: center;
  font-size: 10px;
  font-size: 0.625rem;
  text-transform: uppercase;
  font-size: 400;
  letter-spacing: 0.05em;
  color: #A798B7;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .p-footer__copyright {
    margin-top: 1.375rem;
  }
}

.p-header {
  width: 100%;
  height: 64px;
  height: 4rem;
  background: transparent;
  position: fixed;
  z-index: 1000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.p-header.change {
  background: #21054D;
}

.p-header__inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-header__inner {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}

.p-header__logo {
  height: inherit;
}

.p-header__logoLink {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.018em;
  font-size: 18px;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.p-header__pc-nav {
  height: inherit;
}

.p-mv {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../images/common/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 64px;
  padding-top: 4rem;
}

.p-mv__inner {
  padding: 0 30px;
  padding: 0 1.875rem;
}

.p-mv__header {
  position: absolute;
  top: 50%;
  left: 30px;
  left: 1.875rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
}
@media screen and (min-width: 768px) {
  .p-mv__header {
    max-width: 100%;
    width: 100%;
    text-align: center;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.p-mv__title {
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.1;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .p-mv__title {
    font-size: 4.5rem;
  }
}

.p-mv__subtitle {
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.1em;
  line-height: 1.8125;
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-mv__subtitle {
    font-size: 1.5rem;
  }
}

.p-mv__btn {
  margin-top: 30px;
  margin-top: 1.875rem;
}
@media screen and (min-width: 768px) {
  .p-mv__btn {
    margin-top: 3.125rem;
  }
}

.p-mv__scroll {
  font-size: 12px;
  font-size: 0.75rem;
  letter-spacing: 0.2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  color: #fff;
  display: inline-block;
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: -15px;
  right: -0.9375rem;
  bottom: 85.5px;
  bottom: 5.34375rem;
}

.p-mv__scroll span {
  position: relative;
}

.p-mv__scroll span::before {
  content: "";
  position: absolute;
  bottom: -19px;
  right: -37px;
  width: 1px;
  width: 0.0625rem;
  height: 50px;
  height: 3.125rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #fff;
}

.p-news-content__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-news-content__date {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  letter-spacing: 0.1em;
  margin-right: 15px;
  margin-right: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .p-news-content__date {
    margin-right: 0;
  }
}

.p-news-content__category {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  display: inline-block;
  background-color: #E8E8E8;
  line-height: 1;
  padding: 4px 18px;
  padding: 0.25rem 1.125rem;
  border-radius: 50px;
}
@media screen and (min-width: 768px) {
  .p-news-content__category {
    margin-left: 1.25rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.p-news-content__link {
  margin-top: 10px;
  margin-top: 0.625rem;
}
@media screen and (min-width: 768px) {
  .p-news-content__link {
    margin-top: 0;
    margin-left: 1.25rem;
    max-width: 43.75rem;
    width: 100%;
  }
}

.p-news-content__category-text {
  color: #333;
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  line-height: 1.92857143;
}

@media screen and (min-width: 768px) {
  .p-news__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-news__items {
  margin-top: 32px;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .p-news__items {
    margin-top: 0;
    margin-left: 3.125rem;
  }
}

@media screen and (min-width: 768px) {
  .p-news-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-news__item:not(:first-child) {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-news__item:not(:first-child) {
    margin-top: 0.9375rem;
  }
}

.p-pc-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
}

.p-pc-nav__item {
  height: inherit;
}

.p-pc-nav__item a {
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.05em;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
  padding-left: 12px;
  padding-left: 0.75rem;
  padding-right: 13px;
  padding-right: 0.8125rem;
}

.p-pc-nav__item:last-child a {
  padding-right: 0px;
  padding-right: 0rem;
}

.p-recruit__inner.l-inner {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .p-recruit__inner.l-inner {
    max-width: 69.375rem;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }
}

@media screen and (min-width: 768px) {
  .p-recruit__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.p-recruit__img {
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-recruit__img {
    width: 59.9%;
  }
}

.p-recruit__img::before {
  content: "";
  display: block;
  padding-top: 37.3333%;
}

.p-recruit__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-recruit__contents {
  padding-top: 60px;
  padding-top: 3.75rem;
  padding-bottom: 56px;
  padding-bottom: 3.5rem;
  text-align: center;
  background-color: #F7F7F7;
}
@media screen and (min-width: 768px) {
  .p-recruit__contents {
    width: 40.1%;
  }
}

.p-recruit__text-block {
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-recruit__text {
  color: #333;
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  line-height: 1.7857142857;
}

.p-recruit__btn {
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-service__items {
  margin-top: 30px;
  margin-top: 1.875rem;
}
@media screen and (min-width: 768px) {
  .p-service__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.875rem;
  }
}

.p-service__item + .p-service__item {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-service__item + .p-service__item {
    margin-top: 0;
  }
}

.p-service__btn {
  text-align: center;
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-single-body__inner.l-inner {
  max-width: 800px;
  max-width: 50rem;
  width: 100%;
}

.p-single-body__title h1 {
  font-size: 22px;
  font-size: 1.375rem;
  color: #333;
  letter-spacing: 0.05em;
  line-height: 1.5454;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .p-single-body__title h1 {
    font-size: 2rem;
    line-height: 1.4375;
  }
}

.p-single-body__item {
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-single-body__item {
    margin-top: 0.625rem;
  }
}

.p-single-body__image {
  margin-top: 14px;
  margin-top: 0.875rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-single-body__image {
    margin-top: 1.6875rem;
  }
}

.p-single-body__image::before {
  content: "";
  display: block;
  padding-top: 55.82%;
}
@media screen and (min-width: 768px) {
  .p-single-body__image::before {
    padding-top: 53.3333%;
  }
}

.p-single-body__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-single-body__content {
  margin-top: 30px;
  margin-top: 1.875rem;
  color: #333;
}
.p-single-body__content p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71428571;
  letter-spacing: 0.05em;
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-single-body__content p {
    font-size: 0.9375rem;
    line-height: 1.66667;
  }
}
.p-single-body__content h2 {
  margin-top: 40px;
  margin-top: 2.5rem;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 0.018em;
  line-height: 1.5;
  padding-left: 15px;
  padding-left: 0.9375rem;
  position: relative;
}
.p-single-body__content h2::before {
  content: "";
  width: 6px;
  width: 0.375rem;
  height: 100%;
  background-color: #391E88;
  position: absolute;
  top: 0;
  left: -3px;
  left: -0.1875rem;
  border-radius: 3px;
}
@media screen and (min-width: 768px) {
  .p-single-body__content h2 {
    margin-top: 4.1875rem;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
  }
}
.p-single-body__content h3 {
  font-size: 16px;
  font-size: 1rem;
  margin-top: 40px;
  margin-top: 2.5rem;
  letter-spacing: 0.018em;
}
@media screen and (min-width: 768px) {
  .p-single-body__content h3 {
    font-size: 1.125rem;
    letter-spacing: 0.05em;
  }
}

.p-sp-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: transparent -webkit-gradient(linear, left top, right top, from(#7633A4), to(#250D65)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #7633A4 0%, #250D65 100%) 0% 0% no-repeat padding-box;
}

.p-sp-nav.is-active {
  display: block;
}

.p-sp-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding: 100px 0;
  padding: 6.25rem 0;
}

.p-sp-nav__item {
  width: 100%;
}

.p-sp-nav__item a {
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  font-size: 0.9375rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: "Montserrat", sans-serif;
  padding: 10px 0;
  padding: 0.625rem 0;
  display: block;
  text-align: center;
}

.p-sub-mv {
  width: 100%;
  height: 190px;
  height: 11.875rem;
  background-image: url(../images/common/sub-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .p-sub-mv {
    height: 15rem;
  }
}

.p-sub-mv__title {
  padding-top: 94px;
  padding-top: 5.875rem;
}

@media screen and (min-width: 768px) {
  .p-works__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 78.75rem;
    margin-right: auto;
    margin-left: auto;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(33%, transparent), color-stop(33%, #F0F0F0), to(#F0F0F0));
    background: linear-gradient(90deg, transparent 0%, transparent 33%, #F0F0F0 33%, #F0F0F0 100%);
    padding-top: 3.75rem;
    padding-bottom: 5rem;
  }
}

.p-works__images {
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-works__images {
    width: 59.52381%;
  }
}

.p-works__img {
  position: relative;
}

.p-works__img::before {
  content: "";
  display: block;
  padding-top: 68.955224%;
}
@media screen and (min-width: 768px) {
  .p-works__img::before {
    padding-top: 68%;
  }
}

.p-works__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-works__text-body {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background-color: #F0F0F0;
  padding-top: 156px;
  padding-top: 9.75rem;
  padding-bottom: 60px;
  padding-bottom: 3.75rem;
  margin-top: -116px;
  margin-top: -7.25rem;
}
@media screen and (min-width: 768px) {
  .p-works__text-body {
    width: 40.47619;
    margin-left: 0;
    margin-left: initial;
    padding: 0;
    margin-top: 0;
    background-color: transparent;
  }
}

.p-works__text-block {
  margin-top: 30px;
  margin-top: 1.875rem;
  text-align: center;
}

.p-works__text {
  color: #333;
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  line-height: 1.7857142857;
}

.p-works__btn {
  text-align: center;
  margin-top: 30px;
  margin-top: 1.875rem;
}
/*# sourceMappingURL=styles.css.map */
