@use 'global' as *;

.c-breadcrumb {
    background-color: #f7f7f7;
    padding: rem(5) 0;
    font-size: rem(11);
    font-family: $english-family;
    letter-spacing: 0.05em;
}

.c-breadcrumb__inner.l-inner {
    max-width: rem(1150);
    width: 100%;
}