@use 'global' as *;

.c-button {
    display: inline-block;
    text-align: center;
    font-size: rem(14);
    letter-spacing: 0.05em;
    font-weight: $bold;
    font-family: $english-family;
    text-transform: uppercase;
    color: $white;
    background: transparent linear-gradient(90deg, #7633A4 0%, #250D65 100%) 0% 0% 
    no-repeat padding-box;
    line-height: 1;
    width: 100%;
    max-width: rem(200);
    padding: rem(21.5) rem(10);
    border-radius: rem(50);
}