@use 'global' as *;

.c-hamburger {
    position: relative;
    width: rem(34);
    height: rem(16);
    cursor: pointer;
    z-index: 100;
}

.c-hamburger span {
    position: absolute;
    width: inherit;
    height: rem(2);
    background-color: $white;
    transition: 0.3s;
}

.c-hamburger span:nth-child(1) {
    top: 0;
}

.c-hamburger span:nth-child(2) {
    top: rem(8);
    opacity: 1;
}

.c-hamburger span:nth-child(3) {
    top: rem(16);
}

.c-hamburger.is-active span:nth-child(1) {
    top: rem(8.5);
    transform: rotate(135deg);
}

.c-hamburger.is-active span:nth-child(2) {
    top: rem(8);
    opacity: 0;
}

.c-hamburger.is-active span:nth-child(3) {
    top: rem(8.5);
    transform: rotate(-135deg);
}