@use 'global' as *;

.c-mv-btn {
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid $white;
    border-radius: rem(27.5);
    width: rem(220);
    text-align: center;
    font-size: rem(15);
    letter-spacing: 0.05em;
    line-height: 1;
    font-weight: $bold;
    font-family: $english-family;
    padding: rem(19) rem(10);
}