@use 'global' as *;

.c-to-top {
    position: fixed;
    right: rem(20);
    bottom: rem(20);
    z-index: 50;
    @include mq("md") {
        right: rem(45);
        bottom: rem(45);
    }
}

.c-to-top a {
    display: block;
    width: rem(50);
    height: rem(50);
    border: 2px solid $purple;
    border-radius: rem(25);
    background-color: $white;
    position: relative;
}

.c-to-top span {
    position: absolute;
    background-color: transparent;
    width: rem(20);
    height: rem(20);
    border-top: 2px solid $purple;
    border-right: 2px solid $purple;
    top: 39%;
    left: 58%;
    transform: rotate(-45deg) translate(-50%, -50%);
}
