@use 'global' as *;

.p-archive-home__inner.l-inner {
    @include mq("md") {
        max-width: rem(965);
    }
}

.p-archive-home__item +
.p-archive-home__item {
    margin-top: rem(32);
    @include mq("md") {
        margin-top: rem(15);
    }
}