@use 'global' as *;

.p-company {
    padding-top: rem(42);
    padding-bottom: rem(78);
    background-image: url(../images/common/company-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    @include mq("md") {
        padding-top: rem(136);
        background-image: url(../images/common/company-bg-pc.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        max-width: rem(1300);
        margin-left: rem(20);
        margin-right: rem(20);
    }
}

.p-company.p-company--subpage {
    background-image: url(../images/common/page-company-bg-sp.png);
    background-position: -5px -29px;
    background-size: contain;
    padding-bottom: 0;
    @include mq("md") {
        background-image: url(../images/common/page-company-bg.png);
    }
}

.p-company__contents {
    margin-top: rem(30);
    @include mq("md") {
        margin-top: rem(40);
        text-align: center;
    }
}

.p-company__subtitle {
    color: $black;
    text-align: center;
    font-size: rem(32);
    letter-spacing: 0.05em;
    line-height: 1.5;
    font-weight: $bold;
    @include mq("md") {
        display: inline-block;
        position: relative;
        z-index: 2;
    }
}

.p-company__subtitle::before {
    @include mq("md") {
        content: '';
        display: block;
        width: 100%;
        height: rem(12);
        background: $yellow;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}

.p-company__bg-yellow {
    background: linear-gradient(
        180deg,
        transparent 0%,
        transparent 78%,
        $yellow 78%,
        $yellow 95%,
        transparent 95%,
        transparent 100%
    );
    @include mq("md") {
        background: none;
    }
}

.p-company__content {
    margin-top: rem(43);
}

.p-company__text {
    font-size: rem(14);
    text-align: center;
    color: $black;
    letter-spacing: 0.05em;
    line-height: 1.78571429;
}

.p-company__btn {
    margin-top: rem(30);
    text-align: center;
}

.p-company__message {
    margin-top: rem(60);
    @include mq("md") {
        display: flex;
        max-width: rem(1110);
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
}

.p-company__message-image {
    aspect-ratio: 335 / 248;
    @include mq("md") {
        aspect-ratio: 445 / 330;
    }
}

.p-company__message-image img {
    width: 100%;
    height: 100%;
}

.p-company__message-text {
    margin-top: rem(30);
    @include mq("md") {
        margin-top: 0;
        margin-left: rem(50);
        max-width: rem(605);
    }
}

.p-company__message-text p {
    font-size: rem(14);
    color: $black;
    letter-spacing: 0.05em;
    line-height: calc(24 / 14);
}

.p-company__message-text p:not(:first-child) {
    margin-top: rem(30);
}