@use 'global' as *;

.p-contact {
    text-align: center;
    background-color: #F7F7F7;
    padding-top: rem(60);
    padding-bottom: rem(60);
    @include mq("md") {
        padding-top: rem(80);
        padding-bottom: rem(80);
    }
}

.p-contact__text-block {
    margin-top: rem(30);
    @include mq("md") {
        margin-top: rem(35);
    }
}

.p-contact__text {
    color: $black;
    font-size: rem(14);
    letter-spacing: 0.05em;
    line-height: calc(25 /14);
}

.p-contact__btn {
    margin-top: rem(30);
}