@use 'global' as *;

.p-news__inner {
    @include mq("md") {
        display: flex;
        justify-content: center;
    }
}

.p-news__items {
    margin-top: rem(32);
    @include mq("md") {
        margin-top: 0;
        margin-left: rem(50);
    }
}

.p-news-content {
    @include mq("md") {
        display: flex;
    }
}

// .p-news__item +
// .p-news__item {
//     margin-top: rem(40);
// }

// .p-news__item:nth-child(n + 2) {
//     margin-top: rem(40);
// }

.p-news__item:not(:first-child) {
    margin-top: rem(40);
    @include mq("md") {
        margin-top: rem(15);
    }
}