@use 'global' as *;

.p-page-contact__text-block {
    text-align: center;
}

.p-page-contact__text {
    font-size: rem(14);
    letter-spacing: 0.05em;
    line-height: calc(23 / 14);
    @include mq("md") {
        font-size: rem(16);
    }
}

.p-page-contact__content {
    margin-top: rem(30);
    padding: rem(30);
    background: #F7F7F7;
    @include mq("md") {
        margin-top: rem(40);
        padding: rem(90);
    }
}