@use 'global' as *;

.p-recruit__inner.l-inner {
    padding: 0;
}

.p-recruit__img {
    position: relative;
}

.p-recruit__img::before {
    content: '';
    display: block;
    padding-top: 37.3333%;
}

.p-recruit__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-recruit__contents {
    padding-top: rem(60);
    padding-bottom: rem(56);
    text-align: center;
    background-color: #F7F7F7;
}

.p-recruit__text-block {
    margin-top: rem(30);
}

.p-recruit__text {
    color: $black;
    font-size: rem(14);
    letter-spacing: 0.05em;
    line-height: calc(25 /14);
}

.p-recruit__btn {
    margin-top: rem(30);
}