@use 'global' as *;

.p-works__content {
    @include mq("md") {
        display: flex;
        align-items: center;
        max-width: rem(1260);
        margin-right: auto;
        margin-left: auto;
        background: linear-gradient(90deg, transparent 0%, transparent 33%, #F0F0F0 33%, #F0F0F0 100%);
        padding-top: rem(60);
        padding-bottom: rem(80);
    }
}

.p-works__images {
    position: relative;
    @include mq("md") {
        width: 59.52381%;
    }
}

.p-works__img {
    position: relative;
}

.p-works__img::before {
    content: '';
    display: block;
    padding-top: 68.955224%;
    @include mq("md") {
        padding-top: 68%;
    }
}

.p-works__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-works__text-body {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    background-color: #F0F0F0;
    padding-top: rem(156);
    padding-bottom: rem(60);
    margin-top: rem(-116);
    @include mq("md") {
        width: 40.47619;
        margin-left: initial;
        padding: 0;
        margin-top: 0;
        background-color: transparent;
    }
}

.p-works__text-block {
    margin-top: rem(30);
    text-align: center;
}

.p-works__text {
    color: $black;
    font-size: rem(14);
    letter-spacing: 0.05em;
    line-height: calc(25 / 14);
}

.p-works__btn {
    text-align: center;
    margin-top: rem(30);
}